{# app/Resources/views/security/login.html.twig #} {# ... you will probably extend your base template, like base.html.twig
#} {% extends 'base.html.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 m-3">
        </div>
        <div class="col-sm-4">

            <form action="{{ path('login') }}" method="post">

                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="_username" value="{{ last_username }}"
                    />
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="_password" />
                </div>
                <div class="form-group form-check">
                    <a href="/register">Register</a>
                </div>
                {% if error %}
                 <div style="color:red">{{ error }}</div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
{% endblock %}